# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
ENV/
env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# VSCode settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
